.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.layout {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  justify-items: center;
  align-items: center;
  background-color: #4096ff;
}

.content {
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #f1f1f1;
  padding: 32px;
}

.content-child {
  background-color: #FFF;
  border-radius: 8px;
  padding: 32px;
}

.footer {
  color: #fff;
  background-color: #4096ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer-text-block {
  align-content: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer-icon {
  font-size: 25px;
  color: #FFF;
}